
*{
	color:#111111;
}


.btn-round{
	width: 100px !important;
    height: 100px !important;
    border-radius: 50% !important;
    border-left:50px solid;
    border-right:50px solid; 
    border: 1px solid #721414;
    background: #AB2525;
    font-weight: bold;
    color: #fff;
    text-shadow: 0 -1px 1px #000;
    background-image: -moz-linear-gradient(top, #C54E4E, #AB2525);
    background-image: -webkit-gradient(linear,left top,left bottom,
        color-stop(0, #C54E4E),
        color-stop(1, #AB2525));
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#C54E4E', EndColorStr='#AB2525')";
}


#btn-login{
	position: absolute;
	top: 50%;
	left: 30%;
}
#btn-register{
	/*position: absolute;
	top: 30%;
	left: 50%;*/
}
#btn-about{
	position: absolute;
	top: 50%;
	left: 70%;
}


.btn-round:hover {
    border: 1px solid #6E0000;
    background: #B64B4B;
    font-weight: bold;
    color: #fff;
    text-shadow: 0 -1px 1px #000;
    background-image: -moz-linear-gradient(top, 
        #D47272, 
        #B64B4B);
    background-image: -webkit-gradient(linear,left top,left bottom,
        color-stop(0, #D47272),
        color-stop(1, #B64B4B));
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#D47272', EndColorStr='#B64B4B')";
}


/*#btn-round span span {
    height: 100px !important;  
    line-height: 70px;
}*/

.error {
		 border-color : red;
		}


/*.ui-page{
color: white!important;
background: #FFFFFF url(/site_media/static/bgf/css/images/grid.png)!important;
background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(transparent)), #FFFFFF url(/site_media/static/bgf/css/images/grid.png)!important; 
}*/

/*.ui-page#home{
background: #FFFFFF url(/site_media/static/bgf/css/images/grid.png)!important;
background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(transparent)), #FFFFFF url(/site_media/static/bgf/css/images/grid.png)!important;
		}*/
#login_content{
text-align:center;
color: #e6f0a3;
/*-webkit-text-shadow: 0 1px 4px black;
-moz-text-shadow: 0 1px 4px black;
text-shadow: 0 1px 4px black;*/
font-weight: 500;
font-family: 'Open Sans', sans-serif;
line-height: 24px;
font-size: 22px;
	}

.ui-header{
background: -moz-linear-gradient(top, rgba(204,0,0,0.5) 24%, rgba(204,0,0,0.58) 33%, rgba(204,0,0,1) 83%, rgba(204,0,0,1) 97%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(24%,rgba(204,0,0,0.5)), color-stop(33%,rgba(204,0,0,0.58)), color-stop(83%,rgba(204,0,0,1)), color-stop(97%,rgba(204,0,0,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(204,0,0,0.5) 24%,rgba(204,0,0,0.58) 33%,rgba(204,0,0,1) 83%,rgba(204,0,0,1) 97%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(204,0,0,0.5) 24%,rgba(204,0,0,0.58) 33%,rgba(204,0,0,1) 83%,rgba(204,0,0,1) 97%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(204,0,0,0.5) 24%,rgba(204,0,0,0.58) 33%,rgba(204,0,0,1) 83%,rgba(204,0,0,1) 97%); /* IE10+ */
background: linear-gradient(to bottom, rgba(204,0,0,0.5) 24%,rgba(204,0,0,0.58) 33%,rgba(204,0,0,1) 83%,rgba(204,0,0,1) 97%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80cc0000', endColorstr='#cc0000',GradientType=0 ); /* IE6-9 */

}

/*-----------------------------------------------------------------------------------------------*/
